<div>
  <h2>Mes favoris
    <p>
      <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641543329/Hoothoot_001_hls1qh.gif" alt="hoothoot">
    </p>
  </h2>
</div>

<div class="container m-auto">
  <div class="row">
    <% @favorites.each do |favorite| %>
      <% if favorite.user_id == current_user.id %>
        <div class="card-animal">
          <div class="image-animal">
              <%= link_to animal_path(favorite.animal[:id]) do %>
                <% if favorite.animal.photo.attached? %>
                  <%= cl_image_tag favorite.animal.photo.key, height: 100, crop: :fill %>
                <% else %>
                  <%= image_tag("silhouette.jpg", size: "200x150", alt: "silhouette d'animaux") %>
                <% end %>
              <%= link_to favorite_path(favorite), method: 'delete' do %>
                <i class="fas fa-heart coeur"></i>
              <% end %>
            <% end %>
          </div>

          <div class="card-animals-list-infos">
            <h3 id="lien"><%= favorite.animal[:name] %></h3>
            <p id="lien2">Description <i class="far fa-edit"></i></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="retour">
    <%= link_to "Retour à l'index", animals_path %> <i class='fas fa-reply'></i>
  </div>
</div>
