
  <h2>Chercher un animal</h2>
  <div class="container">
    <div class="formulaire-recherche">
      <%= form_tag animals_path, method: :get do %>
        <%= text_field_tag :name,
          params[:name],
          class: "form-control",
          placeholder: "Nom"
        %>
        <%= text_field_tag :color,
          params[:color],
          class: "form-control",
          placeholder: "Couleur"
        %>
        <%= text_field_tag :particularity,
          params[:particularity],
          class: "form-control",
          placeholder: "Particularité"
        %>
        <%= select_tag :category,
          # params[:category],
          options_from_collection_for_select(@categories, :name, :name, @category&.name),
          include_blank: "Espèce",
          # collection: @category,
          class: "form-control",
          placeholder: "catégorie"
        %>

        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
