
<div class="navbar-pb">
  <% if user_signed_in? %>
    <div class="navbar-desktop">
      <%= link_to "Tous les animaux", animals_path, class: "animals" %>
      <%= link_to "Mon profil", edit_user_registration_path, class: "user-profile" %>
      <%= link_to "Praticiens", contacts_path %>
      <%= link_to destroy_user_session_path, method: :delete, class: "picto" do %>
        <%= "logout " %><i class="fas fa-sign-out-alt"></i>
      <% end %>
    </div>
    <div class="navbar-mobile mobile-logged">
      <i class="fas fa-bars burger"></i>
      <div class="modal-navbar">
        <div class="navbar-mobile-list">
          <%= link_to "Tous les animaux", animals_path, class: "animals" %>
          <%= link_to "Mon profil", dashboard_path, class: "user-profile" %>
          <%= link_to "Mes favoris", favorites_path %>
          <%= link_to "Les pratitiens", contacts_path %>
          <%= link_to destroy_user_session_path, method: :delete, class: "picto" do %>
            <i class="fas fa-sign-out-alt"><%= " Logout" %></i>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="navbar-desktop">
      <%= link_to new_user_session_path, class: "picto" do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
    <div class="navbar-mobile">
        <%= link_to new_user_session_path, class: "picto" do %>
          <i class="fas fa-user"></i>
        <% end %>
    </div>
  <% end %>
</div>
