<div>
  <h1>Bonjour <%= current_user.name %></h1>

  <div>
    <h2>Mes informations</h2>
    <ul>
      <li><%= current_user.name %></li>
      <li>email : <%= current_user.email %></li>
      <li>Adresse : <%= current_user.address %></li>
    </ul>
    <%= link_to 'Modifier mon profil', edit_user_registration_path %>
  </div>

  <div>
    <h2>Mes favoris</h2>

  </div>
</div>

  <%# dernières recherches %>
  <%# derniers itineraires %>
