<div class="container">
  <h1>Bonjour <%= current_user.name %></h1>

  <div class="card-profil-list">
    <div class="card-profil-list-infos">
      <h2>Mes informations</h2><br>
        <ul>
          <li><span class="list-label">Pseudonyme</span> : <%= current_user.name %></li>
          <li><span class="list-label">Courriel</span> : <%= current_user.email %></li>
          <li><span class="list-label">Adresse</span> : <%= current_user.address %></li>
        </ul>
        <ul>
          <li id="modif"><%= link_to 'Modifier mon profil', edit_user_registration_path %> || <%= link_to 'Mes favoris', favorites_path %></li>
        </ul>
    </div>
  </div>

    <div class="card-profil-list">
    <div class="card-profil-list-infos">
      <h2>Mes itinéraires</h2><br>
        <ul>
          <% @itineraries.each do |itinerary| %>
          <% if itinerary.user_id == current_user.id %>
            <% date = itinerary.created_at %>
            <li>- Le <%= date.strftime('%d - %m - %Y') %>, je suis allé chez <%= link_to itinerary.contact[:name], contact_path(itinerary.contact[:id]) %>
              <%= itinerary.animal_name.present? ? "avec un(e) #{itinerary.animal_name}" : '' %>
                </li>
          <% end %>
        <% end %>
        </ul>
    </div>
  </div>

</div>

  <%# dernières recherches %>
  <%# derniers itineraires %>
