<div class="container">
  <h2>Modifier la fiche de <%= @contact.name %></h2>
  <div>
    <%= simple_form_for(@contact) do |f| %>
      <%= f.input :name, label: false, placeholder: 'Nom', required: true %>
      <%= f.input :speciality, label: false, placeholder: 'Vos spécialités', required: true %>
      <%= f.input :phone_number, label: false, placeholder: 'Téléphone', required: true %>
      <%= f.input :address, label: false, placeholder: 'N° et rue, code postal, ville, pays', required: true %>
      <%= f.submit value="Modifier le contact", class: "button-search"%>
    <% end %>
  </div>
</div>
