<div>
  <h1>Tous les contacts spécialisés</h1>

  <% @contacts.each do |contact| %>
    <% if contact.statut == 'Association' %>
      <h4>Associations</h4>
      <ul>
        <li><%= link_to contact.name, contact_path(contact) %></li>
        <li>Je peux m'occuper de : <%= contact.speciality %></li>
        <li>Tel : <%= contact.phone_number %></li>
        <li><p> Adresse :
            <%= contact.street %>,
            <%= contact.zipcode %>,
            <%= contact.city %>,
            <%= contact.country %></p>
        </li>
      </ul>
    <% else %>
      <h4>Vétérinaires</h4>
      <ul>
        <li><%= link_to contact.name, contact_path(contact) %></li>
        <li>Je peux m'occuper de : <%= contact.speciality %></li>
        <li>Tel : <%= contact.phone_number %></li>
        <li><p> Adresse :
            <%= contact.street %>,
            <%= contact.zipcode %>,
            <%= contact.city %>,
            <%= contact.country %></p>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>



  <%# Fiche technique Vétérinaire SHOW %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<div class="card">

      <div class="img">
        <h2>Clinique Machin</h2>
      </div>

      <div class="content">
        <ul>
          <!-- Caractéristiques vétérinaires/associations -->
          <li><span class="list-label">Référent </span>: Docteur Fly</li>
          <li><span class="list-label">Adresse </span>: street zipcode city country</li>
          <li><span class="list-label">Spécialité </span>: Mammifère</li>
          <li><span class="list-label">Numéro de téléphone </span>: 0491456789</li>
        </ul>
      </div>
    </div>
