<div>
  <h2>Tous les contacts spécialisés <i class="fas fa-glasses"></i></h2>

  <%# Fiche technique Vétérinaire SHOW %>

  <%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> %>

<% @contacts.each do |contact| %>
<div class="card-contacts-list">
  <img src="https://images.pexels.com/photos/5486965/pexels-photo-5486965.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
  <div class="card-contacts-list-infos">
    <% if contact.statut == 'Association' %>
    <div class="card-infos">
      <h4>Associations</h4>
      <ul>
        <li><%= link_to contact.name, contact_path(contact) %></li>
        <li>Je peux m'occuper de : <br>
          <% contact.contact_categories.each do |contact_category| %>
            - <%= contact_category.category.name %> <br>
          <% end %></li>
        <li><span class="list-label">Tel</span> : <%= contact.phone_number %></li>
        <li><span class="list-label">Adresse</span> :
            <%= contact.address %>
        </li>
        <% if current_user.admin == true || current_user.id == contact.user_id %>
          <p><%= link_to 'Modifier la fiche', edit_contact_path(contact) %> | <%= link_to 'Supprimer la fiche',
                          contact_path(contact),
                          method: :delete,
                          data: { confirm: "Supprimer ?" } %></p>
        <% end %>
      </ul>
    </div>
    <% else %>
      <div class="card-infos">
        <h4>Vétérinaires</h4>
        <ul>
          <li><%= link_to contact.name, contact_path(contact) %></li>
          <li>Je peux m'occuper de : <br>
            <% contact.contact_categories.each do |contact_category| %>
              - <%= contact_category.category.name %> <br>
            <% end %></li>
          <li><span class="list-label">Tel</span> : <%= contact.phone_number %></li>
          <li><span class="list-label">Adresse</span> :
              <%= contact.address %>
          </li>
          <% if current_user.admin == true || current_user.id == contact.user_id %>
            <p><%= link_to 'Modifier la fiche', edit_contact_path(contact) %> | <%= link_to 'Supprimer la fiche',
                            contact_path(contact),
                            method: :delete,
                            data: { confirm: "Supprimer ?" } %></p>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<% end %>
