
  <div class="card">

    <div class="img">
        <h2><%= @contact.name %></h2>
    </div>

    <div class="content">

      <ul>
      <%# Caractéristiques vétérinaires/associations %>

          <li><span class="list-label">Spécialités</span> : <%= @categories.to_sentence %></li>
        <li><span class="list-label">Tel</span> : <%= @contact.phone_number %></li>
        <li><p> <span class="list-label">Adresse</span> :
          <span id="address"><%= @contact.address %></span></p>
        </li>
      </ul>
      <p>
        <% if @user.admin == true || @contact.user == true %>
          <%= link_to 'Modifier le contact ||', edit_contact_path(@contact) %>
        <% end %>
        <% if @user.admin == true %>
          <%= link_to 'Supprimer le contact', contact_path(@contact),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="itinéraire">
    <h2 id="itineraire">Itinéraire</h4>
     <div>
      <%= simple_form_for(@itinerary, remote: true) do |f| %>
        <%= f.input :animal_name, placeholder: 'avec quel animal ?', label: false, size: 30 %>
        <%= f.hidden_field :contact_id, value: @contact.id %>
        <%= f.button :submit, "J'y vais !", class: "button-search", id: "go" %>
      <% end %>
     </div>
     <div id="saved-message-itinerary">
     </div>

    <div id="map"
      style="width: 100%; height: 600px;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
