<div>
  <%= render 'shared/form' %>

  <h2>Les animaux <i class="far fa-list-alt"></i></h1>

  <% @animals.each do |animal| %>

  <div class="card-animals-list">
    <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, height: 120, crop: :fill %>
          <% else %>
            <%= image_tag("silhouette.jpg", alt: "silhouette d'animaux") %>
          <% end %>
    <div class="card-animals-list-infos">
      <h3><%= link_to animal.name, animal_path(animal) %> <i class="fas fa-leaf"></i></h3>
      <p><%= animal.short_description %></p>
    </div>
  </div>
  <% end %>
</div>
