<%# Fiche technique Animal SHOW %>

<div class="animal-card border">
		<!-- animal's name -->
		<h3 class="title"><%= @animal.name %> <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641399391/Hoothoot_2_ejgepm.gif" alt="hoothoot"></h3>
		<!-- animal's image -->
    <div class="animal-img">
      <% if @animal.photo.attached? %>
          <%= cl_image_tag @animal.photo.key, width: 350, crop: :fill %>
        <% else %>
          <%= image_tag("silhouette.jpg", width: 350, alt: "silhouette d'animaux") %>
        <% end %>
        <p><%= link_to 'Contacts utiles', animal_path(anchor: 'contacts')  %></p>
    </div>
		<div class="factsheet border">
			<!-- important information -->
			<p class="interesting-fact">Un hérisson vu de jour est <em>forcément</em> en danger.</p>
      <br>
			<ul>
				<!-- animal's list items -->
				<li><span class="list-label">Nom</span>: <%= @animal.name %></li>
				<li><span class="list-label">Couleur</span>: <%= @animal.color %></li>
				<li><span class="list-label">Espèce</span>: <%= @animal.category.name %></li>
				<li><span class="list-label">Poids</span>: <%= @animal.weight %></li>
			</ul>
			<!-- advices -->
        <ul>
          <span class="list-label">Les bons gestes</span>
          <%= @animal.description %>
        </ul>
        <%# Favoris %>
        <div class="favorite">
          <i class="far fa-heart"></i>
        </div>
		</div>
	</div>
<%# Carte liste vétos compétents %>

<div class="portfoliocard">
		<div class="coverphoto"></div>
		<div id="contacts" class="contacts-title"><h2>Contacts utiles</h2></div>
		<div class="left_col">
			<div class="contacts-title">
				Associations
			</div>
        <div class="contacts-text">
        <%# Ajouter la liste des associations spécialisés avec cet animal %>

         <ul>
            <li>
              <% @contacts.first(1).each do |contact| %>
                <%= link_to "Les P'tits Kipiks", contact_path(contact) %>
                <i class="fas fa-shoe-prints"></i>
              <% end %>
            </li>
             <li>
              <% @contacts.first(1).each do |contact| %>
                <%= link_to "La Féline Meyreuillaise", contact_path(contact) %>
                <i class="fas fa-shoe-prints"></i>
              <% end %>
            </li>
          </ul>
        </div>
		</div>
		<div class="right_col">
			<div class="contacts-title">
				Cliniques vétérinaires
        <div class="contacts-text">
        <%# Ajouter la liste des vétérinaires avec cet animal %>
          <ul>
             <li>
              <% @contacts.first(1).each do |contact| %>
                <%= link_to "Jean Bondiork", contact_path(contact) %>
                <i class="fas fa-shoe-prints"></i>
              <% end %>
            </li>
             <li>
              <% @contacts.first(1).each do |contact| %>
                <%= link_to "Enrico Chonaille", contact_path(contact) %>
                <i class="fas fa-shoe-prints"></i>
              <% end %>
            </li>
          </ul>
          </ul>
        </div>
			</div>
		</div>
		</div>
